html,
body {
  background-color: #96b7e6 !important;
}

.Home {
  background: white;
  margin: 30px 450px;
  padding: 20px;
}
.postHead {
  display: flex;
}
.Post {
  background-color: rgb(67, 133, 238);
}
.post-header {
  background-color: rgb(221, 226, 233);
  display: flex;
  flex-direction: column;
  padding: 30px 30px 18px;
}
.postHeader {
  background-color: rgb(221, 226, 233);
  display: flex;
  flex-direction: column;
  padding: 30px 30px 18px;
}
.postImg {
  margin-right: 14px;
  border-radius: 50%;
  width: 44px !important;
  height: auto !important;
  margin-left: 0 !important;
  max-width: 44px;
}
/* .activity-time {
  color: #9e9faf;
  font-size: 13px;
  text-transform: capitalize;
} */
.likes {
  display: flex;
  padding: 0.5rem;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.likesImg {
  width: 3rem;
  height: 3rem;
  border-radius: 9999px;
}
/* .likesName {
  font-weight: 700;
  text-transform: capitalize;
} */
.tag {
  --tw-text-opacity: 1;
  color: rgb(100 116 139 / var(--tw-text-opacity));
}
.likesIcon {
  border-radius: 9999px;
}

.post-view .post-header {
  display: flex;
  justify-content: space-between;
  padding: 30px 30px 18px;
}
.media {
  display: flex;
  align-items: flex-start;
}
.user_img {
  position: relative;
  margin-right: 14px;
  padding: 5px;
}
.UserName {
  font-size: 14px;
}
.UserName span {
  color: #9e9faf;
}
.Time {
  color: #9e9faf;
  font-size: 13px;
  text-transform: capitalize;
}

.comment span {
  margin: 0.5rem;
}

.comment {
  display: flex;
  justify-content: start;
  margin: 5px auto;
  border: 1px solid #b1b1b1c7;
  border-radius: 60px;
}

.btnout {
  color: #fff;
  background-color: #212529;
  border-color: #212529;
  width: 100px;
}
.btncomm {
  width: 640px;
  border-radius: 0% !important;
}
